@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=VT323&display=swap');

body {
    background-color: rgb(255, 255, 255);
}

.tombol {
    padding-top: 5%;
    position: sticky;
    text-align: center;
}

.pil1 {
    padding:30px;
    position: sticky;
    text-align: center;
}
.judul {
    padding-top: 4.5%;
font-family: vt323;
text-align: center;
}